rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function admin() {
      return request.auth != null && request.auth.token.email in [
        'riteshgali45@gmail.com',
        'vihaansapconsultancy@gmail.com'
      ];
    }
    match /public/{allPaths=**} { allow read: if true; allow write: if admin(); }
    match /student-files/{uid}/{allPaths=**} {
      allow read, write: if admin() || (request.auth != null && request.auth.uid == uid);
    }
    match /{allPaths=**} { allow read, write: if admin(); }
  }
}
